<!--The whole content below can be removed with the new code.-->
<div class="container-fluid">  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    
        <img alt="Brand" src="../assets/wipro_logo2.png">
    
    </div>
  </div>
</nav>
<div class="row justify-content-centre">
  <div class="text-center"><h4>Drone Images</h4></div>
</div>
   <div class="row">  
     <div class="col-lg-4 dispaly-grid" >
       <div class="col-sm-6" *ngFor ="let image of images , let i = index" (click)="selectedimage(i)" ><img src="{{image.url}}" alt="no"></div>
     </div>
      <div class="col-lg-8">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
    <img *ngIf="selectedurl" src="{{selectedurl}}" alt="no image selected">
        <img  *ngIf="!selectedurl" src={{images[0].url}} alt="">
        </div>
    
        <div class="col-sm-1">

        </div>
      </div>
   </div>
</div>

